.heading {
    background-color: #8ddbeb;
    color: #5C6AC4;
    font-family: 'Oleo Script', cursive;
    padding: 4% 0% 3% 0%;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

.pirate {
    padding: 2% 0% 3% 0%;
}
