/* Navbar */
.navbar {
    display: block;
    width: 100%;
    position: fixed;
}

.nav-link {
    margin: 0px 15px 0px 15px;
    font-weight: bold;
}

/* Giving Introduction */
.heading {
    background-color: #8ddbeb;
    color: #5C6AC4;
    font-family: 'Oleo Script', cursive;
    padding: 2% 0% 2% 0%;
    text-align: center;
}

.intro-head {
    font-size: 3rem;
    line-height: 4;
}

.name {
    font-size: 3.5rem;
    line-height: 0;
}

.pirate {
    padding: 1% 0% 1% 0%;
}

.side-image {
    height: 150px;
    width: 150px;
    margin: 0px 20px 0px 20px;
}

/* section 1: basic-info */
.basic-info {
    color: #000;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 40px;
    text-align: center;
}

h3 {
    color: #0a40f2;
}

.me {
    border-radius: 100%;
    border-color: #0a40f2;
    margin-bottom: 15px;
}

.me:hover {
    background-color: #8ad9eb;
    border-radius: 70%;
}

ul {
    text-align: center;
}

.schools {
    line-height: 1;
    font-weight: bold;
}

/* Skils */
.my-skills {
    background-color: #8ddbeb;
    margin-top: 5%;
    padding: 30px 0 30px 0;
    text-align: center;
}


